/Exercicio1_ImprimirSaudacao.class
/Exercicio2_ImprimirMensagem.class
/Exercicio3_MetodoSoma.class
/Exercicio4_MetodoMultiplicacao.class
/Exercicio5_MaiorNumero.class
/Exercicio6_MetodoEhPar.class
/Exercicio7_MetodoDataAtual.class
/Exercicio8_MetodoCalcularFatorial.class
/Exercicio9_ConcatenarStrings.class
/Exercicio10_CalcularMedia.class
