/Exercicio11_HoraAtual.class
/Exercicio12_imprimirQuadrado.class
/Exercicio13_AreaRetangulo.class
/Exercicio14_PerimetroCirculo.class
/Exercicio15_MenorNumero.class
/Exercicio16_EhPrimo.class
/Exercicio17_NumeroAleatorio.class
/Exercicio18_CelsiusParaFahrenheit.class
/Exercicio19_InverterString.class
/Exercicio20_CalcularHipotenusa.class
